.App {
    text-align: center;
}

.header {
    display: inline;
    margin-right: 20px;
}

.links {
    color: #4E9EE9;
    text-decoration: none;
    font-size: 1.2em;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 100px;
    padding: 20px;
    /* color: white; */
    margin-bottom: 10px;
}

.App-title {
    font-size: 2em;
    vertical-align: center;
    color: white;
}

.welcomeBody {
    margin-top: 100px;
}

.welcomeBody li {
    list-style: none;
}

.App-intro {
    font-size: large;
}

.inline {
    display: inline;
}

.component {
    margin: .5em;
    padding: .25em;
}

.long {
    overflow: auto;
    color: blue;
    width: 30%;
}

.short {
    width: 10%;
}

.wider {
    width: 30%;
}

th {
    position: sticky;
}

td {
    border: 1px solid black;
    max-width: 300px;
    padding: 2px;
}

table tr:hover {
    background: yellow;
}