.App {
    text-align: center;
}

.header {
    display: inline;
    margin-right: 20px;
}

.links {
    color: #4E9EE9;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0px 20px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 100px;
    padding: 20px;
    /* color: white; */
    margin-bottom: 10px;
}

.App-title {
    font-size: 2em;
    vertical-align: center;
    color: white;
}

.welcomeBody {
    margin-top: 100px;
}

.welcomeBody li {
    list-style: none;
    display: inline;
    margin: 0 20px;
    font-size: 1.4em;
}

.App-intro {
    font-size: large;
}

.inline {
    display: inline;
}

.component {
    margin: .5em;
    padding: .25em;
}

.long {
    overflow: auto;
    color: blue;
    width: 30%;
}

.short {
    width: 10%;
}

.wider {
    width: 30%;
}

th {
    position: sticky;
}

td {
    border: 1px solid black;
    max-width: 300px;
    padding: 2px;
}

table tr:hover {
    background: yellow;
}

.sideBar {
  border-style: groove;
  text-align: center;
  margin-top: 50%;
  background-color: #eeeeee;
  padding-bottom: 3rem;
}

.personalNote {
  /*margin: 1rem;
  background-color: white;*/
  height: 200px;
  text-align: center;
  padding-top: 36px;
}

.sideHead {
  text-align: center;
  padding-bottom: 10px;
}

.input-group {
  width: 98%;
}

.input-group-addon {
  width: 12.5rem;
}

.form-horizontal {
  margin-left: 1.5rem;
}

.btn-success {
  float: right;
}

.countDiv {
  color: white;
  margin: 1rem;
  background-color: rgb(101, 101, 101);
}
