.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.inline {
    display: inline;
}

.component {
  margin: .5em;
  padding: .25em;
}

.long {
    overflow: auto;
    color: blue;
}

.sideBar {
  border-style: groove;
  text-align: center;
  margin-top: 50%;
  background-color: #eeeeee;
  padding-bottom: 3rem;
}

.personalNote {
  /*margin: 1rem;
  background-color: white;*/
  height: 200px;
  text-align: center;
  padding-top: 36px;
}

.sideHead {
  text-align: center;
  padding-bottom: 10px;
}

.input-group {
  width: 98%;
}

.input-group-addon {
  width: 12.5rem;
}

.form-horizontal {
  margin-left: 1.5rem;
}

.btn-success {
  float: right;
}

.countDiv {
  color: white;
  margin: 1rem;
  background-color: rgb(101, 101, 101);
}
